*{
    padding: 0;
    margin: 0;
    border:0;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Fjalla One', sans-serif;
    font-size: 250%;
}
.textin{
    margin-left: 15%;
    margin-top: 15%; 
    width: 70%;
    border-bottom: 2px solid black;
    background-color: rgb(32, 240, 240); 
}
.logb{
    width: 40%;
    height: 10%;
    background-color: rgb(32, 240, 240);
    font-size: ;
}
.logwrap{
    width: 40%;
    height: 50%;
    background-color: rgb(32, 240, 240);
    margin-top: 3%;
    margin-left: 30%;
}
.tocre{
    width: 25%;
    height: 9%;
    background-color: rgb(32, 240, 240);
    float: left;
    margin-top: 5%;
    margin-left: 3%;
    text-align: center;
}
.evewrap{
    width: 70%;
    height: auto;
    padding-bottom: 21.5%;
    background-color:black;
    padding-top: 1%;
    float: left;
}
.eve{
    width: 97%;
    height: 10%;
    background-color: rgb(32, 240, 240);
    margin-left: 1%;
}
.date{
    font-family: 'Fjalla One', sans-serif;
    margin-left: 2%;
    font-size: 170%;
    margin-top: 1%;
}
.not{
    font-family: Arial, Helvetica, sans-serif;   
    margin-left: 2%;
    font-size: 120%;
}
.eventd{
    clip-path: polygon(0 0, 50% 29%, 100% 0, 100% 10%, 50% 40%, 0 10%);
    width: 10%;
    height: 90%;
    float: right;
    margin-right: 5%;
    background-color: black;
}
.plus{
    clip-path: polygon(0 35%, 35% 35%, 35% 0%, 65% 0%, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%);
}